#body{
    background-color:"gray"
}

.titule{
    text-align: center;
    color: "red"
}

.main{
    display:flex;
    flex-direction: column;
    gap: 1;

    .img1{
        width: 40%;
    }

    .p1{
        text-align: center;
    }
 
}

@media screen and (min-width: 901px) {
        
    .main{
        display:flex;
        flex-direction: row;
        gap: 1;
     
    }
  }

