body {
  background-color: rgb(36, 36, 36);
}

.titule {
  text-align: center;
  color: red;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  
  .goku {
    width: 400px;
  }

  .p1 {
    text-align: left;
    color: aliceblue;
    width: 400px;
  }
}

@media screen and (min-width: 901px) {
  .main {
    display: flex;
    flex-direction: row;
    gap: 1;
  }
}
